h1 {
  color : darkcyan;
}

h2{
    color: darkcyan
}

h3{
    color: darkcyan
}

p {
  color : black ;
  font-family: sans-serif
}

li{
    font-family: sans-serif
}

td{
    font-family: sans-serif
}
