h1 {
  color : purple;
}

h2{
    color: purple
}

h3{
    color: purple
}

p {
  color : black ;
  font-family: sans-serif
}

li{
    font-family: sans-serif
}

td{
    font-family: sans-serif
}

body {
    background-color: papayawhip;
}
